@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
/* @font-face {
  font-family: "Georgia";
  src: url("/public/georgia bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Times New Roman";
  src: url("/public/times-new-roman.ttf");
  font-weight: 400;
} */

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-times-new-roman: "Times New Roman";
  --heading: Georgia;
  --font-roboto: Roboto;
  --font-merriweather-sans: "Merriweather Sans";
  --font-italiana: Italiana;
  --font-inter: Inter;
  --font-inherit: inherit;
  --font-lato: Lato;

  /* font sizes */
  --font-size-15xl: 34px;
  --font-size-41xl: 60px;
  --heading-size: 78px;
  --font-size-21xl: 40px;
  --font-size-xl: 20px;
  --font-size-31xl: 50px;
  --font-size-11xl: 30px;
  --font-size-13xl: 32px;
  --font-size-43xl: 62px;
  --font-size-2xs: 11px;
  --font-size-26xl: 45px;
  --font-size-28xl: 47px;
  --font-size-30xl: 49px;
  --font-size-29xl: 48px;
  --font-size-69xl: 88px;
  --font-size-6xl: 25px;

  /* Colors */
  --color-khaki: #fad77d;
  --color-black: #000;
  --color-gray-400: #1e1e1e;
  --color-gray-100: rgba(0, 0, 0, 0.72);
  --color-gray-200: rgba(0, 0, 0, 0.88);
  --color-gray-300: rgba(0, 0, 0, 0.75);
  --color-white: #fff;
  --color-gainsboro: #d9d9d9;
  --color-blanchedalmond: #ffecce;
  --color-dimgray: #655959;
  --color-moccasin: #ffecba;
  --color-darkgray: #a69782;
  --color-darkslategray: #473d28;

  /* Paddings */
  --padding-6xs: 7px;
  --padding-lgi: 19px;
  --padding-8xl: 27px;
  --padding-3xs: 10px;
  --padding-11xl: 30px;

  /* Border radiuses */
  --br-17xl: 36px;
  --br-71xl: 90px;
  --br-5xl: 24px;
  --br-31xl: 50px;
  --br-26xl: 45px;
  --br-39xl: 58px;
  --br-base: 16px;
}
